/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ===CSS Varaibales=== */
:root {
    --header-height: 3rem;

    /* ===Colors=== */
    --first-color: #3e0e12;
    --first-color-dark: #2f0a0d;
    --text-color: #524748;
    --first-color-light: #786f71;
    --first-color-lighten: #FBF9F9;

    /* ===Font and Typography=== */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .750rem;

    /* ===Font Weight=== */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ===Margins=== */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /* ===z - index=== */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    }
}

/* ===Base=== */
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h2, h3 {
    font-weight: var(--font-semi-bold);
}

ul{
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===Class CSS=== */
.section {
    padding-top: 3rem;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
}

.section-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
}

/* ===Layout=== */
.rd-container {
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.rd-grid {
    display: grid;
    row-gap: 0.6rem;
    column-gap: 1.5rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #000;
}

/* ===Nav Bar=== */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        padding-top: 1.5rem;
        text-align: center;
        background-color: #000;
        transition: .4s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
        border-radius: 0 0 1rem 1rem;
    }
}

.nav__item {
    margin-bottom: var(--mb-3);
}

.nav__link {
    color: var(--first-color-lighten);
    transition: .3s;
}

.nav__link:hover {             
    color: var(--first-color-light);
}

.nav__logo, .nav__toggle {
    color: var(--first-color-lighten);
}

.nav__toggle {
    font-size: 1.3rem;
    cursor: pointer;
}

/* ===Show Menu=== */
.show-menu {
    top: var(--header-height);
}

/* ===Active Menu=== */
.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.7rem;
    left: 0;
    width: 65%;
    height: 3px;
    background-color: var(--first-color-light);
}

/* ===Change Background Header=== */
.scroll-header {
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scroll-header .nav__logo, .scroll-header .nav__toggle, .scroll-header .nav__link {
    color: var(--first-color-dark);
}

.scroll-header .nav__menu {
    background-color: var(--first-color-lighten);
}

/* ===Scroll Top=== */
.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: rgba(123, 111, 113, .7);
    border-radius: .5rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    visibility: hidden;
}

.scrolltop:hover {
    background-color: var(--first-color);
}

.scrolltop__icon {
    font-size: 2rem;
    color: var(--first-color-lighten);
}

/* ===Show Scroll Top=== */
.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
}

/* ===Buttons=== */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: .75rem 1rem;
    border-radius: .25rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-dark);
}

.button-white {
    background-color: var(--first-color-lighten);
    color: var(--first-color-dark);
}

.button-white:hover {
    background-color: var(--first-color-lighten);
}

.button-link {
    background: none;
    color: var(--first-color);
    padding: 0;
}

.button-link:hover {
    background: none;
}

/* ===Home=== */
.home {
    background-color: #000;
    overflow: hidden;
}

.home__container {
    position: relative;
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    align-content: space-around;
    row-gap: 2rem;
}

.home__data {
    border-left: 4px solid var(--first-color-lighten);
    color: var(--first-color-lighten);
    padding-left: 1.5rem;
    z-index: var(--z-tooltip);
}

.home__name {
    font-size: var(--biggest-font-size);
}

.home__greeting, .home__profession {
    display: block;
    font-weight: var(--font-bold);
}

.home__greeting {
    font-size: .813rem;
}

.home__profession {
    font-size: .938rem;
    margin-bottom: var(--mb-3);
}

.home__button {
    margin-right: 0.8rem;
    background-color: var(--first-color-light);
}

.home__img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.home__img img {
    width: 240px;
}

.home__social {
    display: flex;
    flex-direction: column;
}

.home__social-icon {
    width: max-content;
    font-size: 1.75rem;
    margin-bottom: var(--mb-2);
    color: var(--first-color-lighten);
}

.home__social-icon:hover {
    color: var(--first-color-light);
}


/* ===About=== */
.about {
    margin-top: 1rem;
}

.about__container {
    margin: 2.5rem 0 1.5rem;
}

.about__data {
    text-align: center;
}

.about__description {
    text-align: initial;
}

.about__list {
    text-align: initial;
    padding-top: 0.5rem;
}

.about__list-item {
    font-size: 1rem;
    padding: 0.4rem;
}

.about__chevron {
    position: absolute;
    font-size: 1.5rem;
}

.about__attribute-key {
    margin-left: 1.6rem;
}

.about__attribute-value {
    font-size: 1.06rem;
    color: var(--first-color)
}

.about__description span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}

.about__number {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    display: block;
}

.about__image-wrapper {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.about__img {
    justify-self: center;
    width: 220px;
    border-radius: .5rem;
    border: 2px solid var(--first-color);
}

/* ===Qualifications=== */
.qualification__container {
    display: flex;
    justify-content: center;
}

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0 1rem;
}

.qualification__button {
    color: var(--first-color-light);
    font-size: 1.35rem;
    font-weight: 500;
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(0.25rem);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1rem;
}

.qualification__title {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.qualification__subtitle {
    display: inline-block;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.qualification__details {
    display: inline-flex;
    font-size: 0.875rem;
}

.qualification__calendar {
    margin-right: 2em;
    margin-bottom: 1rem
}

.work__qualification__calendar {
    margin-bottom: 1rem
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification__content[data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
}

.qualification__button.qualification__active {
    color: var(--first-color);
}

.qualification__text__right {
    text-align: right;
}

/* ===Education=== */
/* .education__title-block {
    display: flex;
    padding-top: 1.5rem;
    justify-content: center;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.education__block {
    display: inline-flex;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
}

.education__icon {
    margin-right: 0.5rem;
    font-size: 2rem;
}

.education__data {
    display: flex;
    flex-direction: column;
}

.education__wrapper{
    display: flex;
    margin-bottom: 1.8rem;
}
.education__icon-wrapper{
    background-color: var(--first-color);
    border-radius: 60%;
    padding: 0.45rem;
    position: relative;
    left: 1.10rem;
}

.education__details-icon {
    font-size: 1.10rem;
    color: var(--first-color-lighten);
}

.education__details{
    margin-top: 1rem;
    border-left: 0.2rem solid #aaa;
    padding: 0.6rem 0 0 1.8rem;
}

.education__title {
    margin-bottom: 0.8rem;
}

.education__duration {
    margin: 0.3rem 0;
} */

/* ===Divider=== */
.divider-custom {
    margin: 0.3rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: var(--first-color);
    border-radius: 1rem;
    border-color: var(--first-color);
}

.divider-custom-line:first-child {
    margin-right: 0.6rem;
}

.divider-custom-line:last-child {
    margin-left: 0.6rem;
}

.divider-custom-icon {
    color: var(--first-color);
    font-size: 2rem;
}


/* ===Skills=== */
.skills__content {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    /* background-color: #6b2128; */
    background-color: #FFF;
    /* color: var(--first-color-lighten); */
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(47, 10, 13, .25); */
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    width: 80rem;
    height: 18rem;
}

.skills__grid-image {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.skills__img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.skills__core-img {
    margin-top: 1rem;
    width: 9rem;
    height: 9rem;
    align-self: center;
}

.skills__title {
    position: absolute;
    bottom: 0;
    align-self: center;
    padding: 1rem;
    margin-bottom: var(--mb-2);
}

.skills__description {
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}
.swiper-pagination {
    position: initial;
}

.swiper-pagination-bullet-active {
    background-color: var(--first-color);
}


/* ===Services=== */
.services__data {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    background-color: #FFF;
    border-radius: .5rem;
    text-align: center;
    transition: .4s;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.services__icon, .services__title {
    margin-bottom: var(--mb-2);
    color: var(--first-color);
}

.services__icon {
    font-size: 3rem;
}

.services__title {
    font-size: var(--h3-font-size);
}

.services__description {
    align-self: baseline;
    margin-bottom: var(--mb-4);
}

.services__button {
    align-self: center;
    margin-top: auto;
}

.services__data:hover {
    transform: translateY(-.5rem);
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

/* ===Project in Mind== */
.project__container {
    padding: 1.5rem 1rem;
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    border-radius: .5rem;
    text-align: center;
}

.project__icon, .project__title {
    margin-bottom: var(--mb-1);
}

.project__icon {
    font-size: 3.5rem;
}

.project__title {
    font-size: 1.5rem;
}

.project__description {
    margin-bottom: var(--mb-4);
}


/* ===Portfolio Projects=== */
.portfolio__nav {
    text-align: center;
    margin-bottom: var(--mb-3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio__item {
    margin: 0 var(--mb-3);
    cursor: pointer;
}

.portfolio__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #FFF;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
    margin-top: auto;
}

.portfolio__img {
    width: 100%;
    transition: .4s;
}

.portfolio__data {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.portfolio__title {
    font-size: 1.35rem;
    color: var(--first-color);
    margin: var(--mb-1) 0;
}

.portfolio__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    padding: 0.5rem 0 1rem;
}

.portfolio__content:hover {
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.portfolio__content:hover .portfolio__img {
    transform: scale(1.12);
}

.portfolio__button-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 30% 10% 20% 10% 30%;
    grid-template-rows: 60% 15% 25%;
    margin-top: auto;
    margin-bottom: 0.5rem;
}

.portfolio__button-github-icon {
    grid-column: 2;
    grid-row: 1;
}

.portfolio__button-run-icon {
    grid-column: 4;
    grid-row: 1;
}

.portfolio__button-view-icon {
    grid-column: 3;
    grid-row: 1;
}

.portfolio__button-github-text {
    grid-column: 2;
    grid-row: 2;
}

.portfolio__button-run-text {
    grid-column: 4;
    grid-row: 2;
}

.portfolio__button-view-text {
    grid-column: 3;
    grid-row: 2;
}

.portfolio__button {
    background: none;
    color: var(--first-color);
    font-size: 3.5rem;
}

.portfolio__button:hover {
    color: var(--first-color-light);
}

.portfolio__button-text {
    font-size: 0.8rem;
    font-weight: var(--font-semi-bold);
}

.hide-project {
    display: none;
}

/* ===Active Menu Portfolio=== */
.active-portfolio {
    color: var(--first-color-dark);
    font-weight: var(--font-semi-bold);
}


/* ===Contact Me=== */
.contact__container {
    row-gap: 2.5rem;
}

.contact__content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.contact__box {
    background-color: #FFF;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(174, 190, 205, .3);
}

.contact__icon, .contact__title {
    color: var(--first-color);
}

.contact__icon {
    font-size: 2rem;
}

.contact__title {
    font-size: var(--h3-font-size);
    margin: var(--mb-1) 0;
}

.contact__description {
    word-wrap: break-word;
}

.contact__box:hover {
    box-shadow: 0 6px 8px rgba(174, 190, 205, .4);
}

.contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.contact__input, .contact__button {
    outline: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.contact__input {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--first-color-light);
    color: var(--first-color);
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.contact::placeholder {
    color: var(--first-color-light);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
}

.contact__button {
    cursor: pointer;
    border: none;
}

/* ===Socials=== */
.socials__container {
    display: flex;
    justify-content: space-evenly;
}

.socials__box {
    padding-bottom: 0.5rem;
}

.socials__social-icon {
    font-size: var(--biggest-font-size);
    color: var(--first-color-dark);
    margin: var(--mb-1);
    transition: .3s;
}

.socials__social-icon:hover {
    color: var(--first-color-light);
}


/* ===Footer=== */
.footer {
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__container {
    padding: 2rem 0;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.footer__description {
    margin-bottom: var(--mb-3);
}

.footer__copy {
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}

.footer__link {
    color: #9c767f;
}

.footer__link:hover {
    cursor: pointer;
    color: var(--first-color-lighten);
}

/* ===Media Queries=== */
@media screen and (min-width: 576px) {
    .home__img img {
        width: 330px;
    }

    .about__container,
    .services__container,
    .portfolio__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__image-wrapper {
        margin-top: 0;
    }

    .skills__grid-image {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact__form {
        width: 450px;
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .section-title {
        margin-top: 1.5rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .home__container {
        height: 100vh;
        grid-template-rows: max-content .5fr;
        align-content: flex-end;
    }

    .home__greeting {
        font-size: 1.25rem;
    }

    .home__profession {
        font-size: 2rem;
    }

    .home__social {
        flex-direction: row;
        align-items: center;
    }

    .home__social-icon {
        margin-right: var(--mb-4);
        margin-bottom: 0;
    }

    .home__img img {
        width: 440px;
    }

    .about {
        margin-top: 0;
    }

    .about__description {
        text-align: initial;
        margin-left: 1rem;
    }

    .about__img {
        width: 300px;
    }

    .qualification__box {
        display: flex;
        justify-content: space-between;
    }

    .services__container,
    .portfolio__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .project__container {
        padding: 4.5rem 0;
    }

    .project__data {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .project__icon, .project__title, .project__description {
        margin-bottom: 0;
    }

    .project__icon {
        font-size: 6rem;
    }

    .project__title {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .rd-container {
        margin-left: auto;
        margin-right: auto;
    }
}

/* For tall screens on mobiles and desktop */
@media screen and (min-height: 721px) {
   .home__container {
     height: 640px;
   }
}